.root {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__image {
  width: 400px;
  max-width: 100%;
}

.logo__text {
  position: absolute;
  right: -32px;
  bottom: 8px;
  color: yellow;
  transform: rotate(-10deg);
  animation: identifier 1s infinite linear;
}

@keyframes identifier {
  0% {
    transform: rotate(-10deg) scale(1);
  }
  50% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(-10deg) scale(1);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}

.discord {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #232324;
  outline: 2px black solid;
  border: 2px #313233 solid;
  padding: 2px 16px;
  margin: 0px 16px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
