.root {
  position: absolute;
  inset: 0;

  background-color: #111111;
  background-image: url("/background-page.png");
  background-size: calc(48px * var(--gui-scale));

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  background-color: #232324;
  outline: 2px black solid;
  border: 2px #313233 solid;
  padding: 8px 16px;
  font-size: 18px;
}
