.root {

    background: #c6c6c6;

    box-sizing: content-box;

    margin: calc(16px * var(--gui-scale));

    border-style: solid;
    border-width: calc(16px * var(--gui-scale));
    border-image-width: calc(16px * var(--gui-scale));
    border-image-outset: calc(16px * var(--gui-scale));
    border-image-slice: 16;
    border-image-repeat: stretch stretch;
    border-image-source: url("./border.png");
}