.root {
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);
  transform: translate(-50%, -50%);

  pointer-events: none;

  width: calc(32px * var(--gui-scale));
  height: calc(32px * var(--gui-scale));

  margin: auto;
  z-index: 9999;
}
