.root {
  width: calc(34px * var(--gui-scale));
  height: calc(34px * var(--gui-scale));
  background: #8b8b8b;

  border-width: 2px;
  border-style: solid;
  border-image: url("/inventory.png") 2 / 2px / 2px stretch;

  display: flex;
  align-items: center;
  justify-content: center;
}

.root:hover {
  background: #9f9f9f;
}

.image {
  pointer-events: none;
  width: calc(32px * var(--gui-scale));
  height: calc(32px * var(--gui-scale));
}

.slot__good,
.slot__good:hover {
  background: #22c55e;
}

.slot__nearly,
.slot__nearly:hover {
  background: #eab308;
}

.slot__disabled {
  cursor: not-allowed;
}

.slot__unused,
.slot__unused:hover {
  background: #6d6d6d;
}