.root {
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);

  background: rgba(16, 0, 16, 0.95);
  color: #ffffff;

  padding: 6px;
  margin: 2px 4px;

  word-spacing: 4px;
  white-space: nowrap;
  line-height: 20px;

  pointer-events: none;
  z-index: 9998;
}

.root::before,
.root::after {
  content: "";
  position: absolute;
}

.root::before {
  top: 2px;
  right: -2px;
  bottom: 2px;
  left: -2px;
  border: 2px solid #100010;
  border-style: none solid;
  border-color: rgba(16, 0, 16, 0.95);
}

.root::after {
  top: 2px;
  right: 0;
  bottom: 2px;
  left: 0;
  border: 2px solid #2d0a63;
  border-image: -webkit-linear-gradient(
      rgba(80, 0, 255, 0.31),
      rgba(40, 0, 127, 0.31)
    )
    1;
  border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31))
    1;
}
